{# plotline before #}
{% if selected_meme.meme %}
<div>
  Meme Plotline Before
</div>
<div style="">
  <div>
    <a href="javascript:;" class="render_image" style="float:left;" >
      <img src="{{ MEDIA_URL }}/{{ selected_meme.meme.image }}" width='50' class="image_not_active" id="{{ selected_meme.meme.pk }}" />
    </a>
  </div>
</div>

  <br><br><br>
{% endif %}



{# Why render this again and again with AJAX? Better to simply render this once earlier and not change position #}
<div>
  Meme Horizontal
</div>
<div style="float:left;">
  {# selected meme #}
  <a href="javascript:;" class="render_image" >
    <img src="{{ MEDIA_URL }}/{{ selected_meme.image }}" width='50' id="{{ selected_meme.pk }}" class="image_active"/>
  </a>
</div>
{% for meme in selected_meme.meme_horizontal.all %}
  <div style="float:left;">
    <a href="javascript:;" class="render_image" >
      <img src="{{ MEDIA_URL }}/{{ meme.image }}" width='50' id="{{ meme.pk }}" class="image_not_active"/>
    </a>
  </div>
{% endfor %}
<div id="add_meme_horizontal" style="float:left; display:none;">
  {# Add a Perspective #}
  ADD ME (drag me here) 
</div>

  {# remove when Max designs #}
  <br><br><br>


{% if selected_meme.meme_vertical %}
<div>
  Meme Vertical
</div>

<div style="">
  <div>
    <a href="javascript:;" class="render_image" style="float:left;" >
      <img src="{{ MEDIA_URL }}/{{ selected_meme.meme_vertical.image }}" width='50' class="image_not_active" id="{{ selected_meme.meme_vertical.pk }}" />
    </a>
  </div>
{% endif %}
<div>


  {# remove when Max designs #}
  <br><br>
<div>
  Selected Meme
</div>

<div class="main_comic" style="">
  <img src="{{ MEDIA_URL }}/{{ selected_meme.image }}" id="{{ selected_meme.pk }}"/>
</div>

<br><br><br>


{# begin uncategorized container for dragging #}
<div style="position:fixed; z-index:500; top:0; width:1000px;" id="uncat_recreate_container">
  <div style="color: white;">
    Uncategorized (Drag) 
  </div>
  {% for uncat_meme in uncat_memes %}
    <span class="uncat_recreate_memes">
      <img src="{{ MEDIA_URL }}/{{ uncat_meme.image }}" width='75' id="{{ uncat_meme.pk }}"/>
    </span>
  {% endfor %}
</div>

