<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>

<div id="big_container">
  {% include 'meme/meme_node_map_load.html' %}
</div>
<script>
$('.render_image').live('click', function(){
    $('.image_active').attr('class','image_not_active'); // change to inactive
    $('img', this).attr('class','image_active');

    var meme_active_id = $('.image_active').attr('id');
    var meme_id = $('img', this).attr('id');
    
    $.post('/recreate_map/'+meme_id+'/', {
      'meme_active_id':meme_active_id
    }, function(data){
      $('#big_container').html(data);
    });
  });

  
</script>

