<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>

<div>
  Meme Horizontal
</div>
<div style="float:left;">
  {# selected meme #}
  <a href="javascript:;" class="render_image" >
    <img src="{{ MEDIA_URL }}/{{ selected_meme.image }}" width='50' id="{{ selected_meme.pk }}" class="image_active"/>
  </a>
</div>
{% for meme in selected_meme.meme_horizontal.all %}
  <div style="float:left;">
    <a href="javascript:;" class="render_image" >
      <img src="{{ MEDIA_URL }}/{{ meme.image }}" width='50' id="{{ meme.pk }}" class="image_not_active"/>
    </a>
  </div>
{% endfor %}

  {# remove when Max designs #}
  <br><br><br>
<div>
  Meme Vertical
</div>

<div style="">
{% if selected_meme.meme_vertical %}
  <div>
    <a href="javascript:;" class="render_image" style="float:left;" >
      <img src="{{ MEDIA_URL }}/{{ selected_meme.meme_vertical.image }}" width='50' class="image_not_active" id="{{ selected_meme.meme_vertical.pk }}" />
    </a>
  </div>
{% endif %}
<div>


  {# remove when Max designs #}
  <br><br>
<div>
  Selected Meme
</div>

<div class="main_comic" style="">
  <img src="{{ MEDIA_URL }}/{{ selected_meme.image }}" id="{{ selected_meme.pk }}"/>
</div>

<script>
  $('.render_image').live('click', function(){
    $('.image_active').attr('class','image_not_active'); // change to inactive
    $('img', this).attr('class','image_active');

    var imgSrcVal = $('img', this).attr("src"); // grab img source
    console.log(imgSrcVal)
    $('img','#main_comic').attr('src', imgSrcVal);
  });
</script>

