{# login form for the landing page #}

{% block content %}

<h1>Log in</h1>

{% if form_auth.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="{% url auth_login %}?next={{ next|default:"/" }}">{% csrf_token %}
<dl>
  <dt>
  <!--<label for="id_username"> Email:</label>-->
  {% if form_auth.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
{#<dd>{{ form_auth.username }}</dd>#}
<dd>{{ form_auth.email }}</dd>
<dt>
  <!--<label for="id_password">Password:</label>-->
{% if form_auth.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form_auth.password }}</dd>
<dt><input type="submit" class="btn btn-info" value="Log in" /></dt>
</dl>
</form>

{% endblock %}
