{% extends 'base.html' %}
  {% block base_upload %}
  {% endblock %}

	{% block content %}
	{# Invite friends #}
    <div id="invite_container">
      <form action="{% url webapp_from_album_invite experiences.pk %}" method="post" class="form_search">
        {% csrf_token %}
        <div class="input-append">
          <input name='friend_name' class="input-large" style="width:200px;" type="text" placeholder="Invite Friend to Album" id="autocomplete-input" />
          <input type="hidden" name='hash' id='hash' value=''/>
          <input type="submit" class="btn btn-primary" value="Invite" />
        </div>
      </form>
    </div>

  {# Insert flash message when inviting friend #}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
        </li>
      {% endfor %}
  </ul>
  {% endif %}

		<div id= "album_header_container">
			<div id="album_title_container">
			{# Images #}
			  <div><h2> {{ experiences.title }}</h2></div> 
			  <div>
				with 
				  {% for creator in experiences.creator.all %}
				  <span id="coowner">
					  <a href="/{{ creator.get_profile.url_username }}/">{{ creator.username }}</a> 
				  {% endfor %}
				  </span>
          <div>
            invited
            {% for invitee in invitees %}
              <a href="http://facebook.com/{{ invitee.key }}">
                <img src="http://graph.facebook.com/{{ invitee.key }}/picture?type=square"/>
              </a>
            {% endfor %}
          </div>
			  </div>
	  
			</div>
			<div style ="clear:both;"></div>
	  </div>
		<div id="album_list">
		  {% for memes in memes %}
			<div class="uncatmemes">
        <a class="fancybox-feed fancybox.ajax" rel="group" href="{% url webapp_recreate_map memes.pk %}">
          <img src="{{ MEDIA_URL }}/{{ memes.image }}"/>
        </a>
			  
			  <span><a href="{% url webapp.views.delete_meme memes.pk %}">Delete</a></span>
        {% if memes.top_caption %}
          <div><a href="/create/?meme={{ memes.pk }}">Remix</a></div>
        {% endif %}
			  <div>Created by <span id="coowner"><a href ="/{{ memes.creator.get_profile.url_username }}/">{{ memes.creator }}</a></span></div>
			</div>
		  {% endfor %}
		</div>

    {{ standard_js }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script>
    {# functions needs to be written inline because of access_token parameter #}
    $(function() {
          $( "#autocomplete-input" ).autocomplete({
            source: function( request, response ) {
            var url = "https://graph.facebook.com/me/friends?access_token={{ access_token }}&callback=?";
            $.ajax({
              url: url,
              dataType: "jsonp",
              data: {
                featureClass: "P",
                style: "full",
                name_startsWith: request.term
              },
              success: function( data ) {
                res = $.map( data.data, function( item ) {
                  if (item.name.toLowerCase().indexOf(request.term.toLowerCase()) >= 0){
                    return {
                      label: item.name,
                      value: item.name,
                      picture: item.id
                    }
                  }
                });
                response(res);
              }
            });
          },
          autoFocus:true,
          minLength: 0,
          select: function( event, ui ) {
            var selectedObj = ui.item;
            $('#hash').val(selectedObj.picture); // id
            // log( ui.item ?
            //   "Selected: " + ui.item.label :
            //   "Nothing selected, input was " + this.value);
          },
          open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
          },
          close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
          }
          });
        $("#autocomplete-input").data("autocomplete")._renderItem =  function( ul, item ) {
            var image_url = "http://graph.facebook.com/" + item.picture +"/picture";

            return $( "<li>" )
              .append($("<img style='float:left'>").attr('src',image_url))
              .append( $( "<a>" ).text( item.label ) )
              .appendTo( ul );
        }
        });
    </script>
{% endblock %}
