{% extends 'base.html' %}


{% block content %}
{# Invite friends #}
Invite friends (django-invitation)
  <form action="{% url invitation_invite %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <p><input type="submit" value="Send" /></p>
  </form>

  Remaining invitations: {{ remaining_invitations }}

{# Images #}
<ul>
  <div>Album name: {{ experiences.title }}</div> 
    <ul>
      {% for memes in memes %}
        <img src="{{ MEDIA_URL }}/{{ memes.image }}"/>
        <div>Created by {{ memes.creator }}</div>
      {% endfor %}
    </ul>
</ul>

{% endblock %}
