{% extends 'base.html' %}


{% block content %}
{# Invite friends #}
Invite friends (django-invitation)
  <form action="{% url invitation_invite %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <p><input type="submit" value="Send" /></p>
  </form>

  Remaining invitations: {{ remaining_invitations }}

{# Images #}
  <div><h2>Album name: {{ experiences.title }}</h2></div> 
  <div>
    with 
      {% for creator in experiences.creator.all %}
          <a href="/{{ creator.get_profile.url_username }}/">{{ creator.username }}</a> 
      {% endfor %}
  </div>
    <div id="album_list">
      {% for memes in memes %}
        <div class="uncatmemes">
          <img src="{{ MEDIA_URL }}/{{ memes.image }}"/>
          
          <!--<span><a href="{% url webapp.views.delete_meme memes.pk %}">X</a></span>-->
          <!--<div>Created by <a href ="/{{ memes.creator.get_profile.url_username }}/">{{ memes.creator }}</a></div>-->
        </div>
      {% endfor %}
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script>
  $(function(){
 
    var $container = $('#albumlist');
 
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.uncatmemes'
      });
    });
 
  });
</script>
{% endblock %}
