{% extends 'base.html' %}

{% block content %}

{% if linked_experiences %}
  <div>
    <div class="lead">Shared Albums with {{ linked_user.username }}</div>
    {% for experiences in linked_experiences %}
      <ul>
        <li><a href="{% url webapp.views.show_experience experiences.pk %}">{{ experiences.title }}</a></li>
      </ul>
    {% endfor %}
  </div>
{% else %}
<div>You have no shared experiences with {{ linked_user.username }} :(</div>

{% endif %}

{# Show all the memes #}
<div class="lead">Shared Memes</div>

<div id="album_list">
  {% for experiences in linked_experiences %}
      {% for memes in experiences.meme_set.all %}
        <div class="uncatmemes">
          <a class="fancybox" rel="group" href="{{ MEDIA_URL }}/{{ memes.image }}">
            <img src="{{ MEDIA_URL }}/{{ memes.image }}"/>
          </a>
          
          <span><a href="{% url webapp.views.delete_meme memes.pk %}">X</a></span>
          {% if memes.top_caption %}
            <div><a href="/create/?meme={{ memes.pk }}">Remix</a></div>
          {% endif %}
        </div>
      {% endfor %}
  {% endfor %}
</div>

  {{ standard_js }}
{% endblock  %}

