{% extends 'base.html' %}

{% block content %}

{% if linked_experiences %}
  <div>
    <h1>Your Shared albums with {{ linked_user.username }}</h1>
    {% for experiences in linked_experiences %}
      <ul>
        <li><a href="{% url webapp.views.show_experience experiences.pk %}">{{ experiences.title }}</a></li>
      </ul>
    {% endfor %}
  </div>
{% else %}
<div>You have no shared experiences with {{ linked_user.username }} :(</div>

{% endif %}

{# Show all the memes #}
<h1>All your shared memes</h1>

<div id="album_list">
  {% for experiences in linked_experiences %}
      {% for memes in experiences.meme_set.all %}
        <div class="uncatmemes">
          <img src="{{ MEDIA_URL }}/{{ memes.image }}"/>
          
          <span><a href="{% url webapp.views.delete_meme memes.pk %}">X</a></span>
        </div>
      {% endfor %}
  {% endfor %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script src="{{ STATIC_URL }}js/mainjs.js"></script>
{% endblock  %}

