{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->


<body>
  {# added for YC demo 'For our demo, this first-time user tutorial' #}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.extra_tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <div id="top_container">
    <img src="{{ STATIC_URL }}images/intro_logo.gif"/>
    <p id="top_instruction" class="lead">Welcome! {% if school %}I see you're from {{ school }}.{% endif %}</p>
  
    <p id="lower_instruction" class="text-info" style="padding-top:25px;">Memeja is a new way to share experiences</p>
  
    <a href="javascript:;" id="start_me" class="btn btn-success">Let's start</a>
  
    <div id="friend_div" style="display:none;">
      <!--<form action="url webapp_helloworld %}" method="post" class="form_search">-->
      <form action="{% url webapp_helloworld_create %}" method="post" id="friend_form" class="form_search">
        {% csrf_token %}
        <div class="input-append">
          {% for field in friend_form %}
            {{ field }}
          {% endfor %}
          <input type="submit" id="createmyfirstalbum" class="btn btn-primary" value="Go!" />
        </div>
      </form>
    </div>
  
  </div>
  <div id="albums_display" style="display:none;">
    <div id="my_first_album_title" style="font-size:20px; padding-bottom:15px;"></div>
    <img src="{{ STATIC_URL }}/images/memeja_logo.png" style="height:100px;"/>
  </div>
  <div id="second_lower_instruction" class="text-info" style="display:none;"></div>


</body>

<style>
  html {
    height: 100%;
    background: url({{ STATIC_URL }}images/grey.png) repeat;
  }

  #top_container {
    width:500px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -250px;
  }
</style>

{{ standard_js }}
{% endblock %}

