{% extends 'base.html' %}

{% block content %}

  <div id="top_container">
    <img src="{{ STATIC_URL }}images/intro_logo.gif"/>
      <p id="invite_instruction" class="lead">Invite {{ friend_name }} to your album</p>
      {# send to the index #}

      <div id="tutorial_invite_container">
        <form action="{% url invitation_invite %}" method="POST">
            {% csrf_token %}
          <table>
            {{ autocomplete_form }}
            <tr>
              <th></th><td><input class="btn btn-primary" type="submit" style="margin-top:5px;" value="Invite to Album" /></td>
            </tr>
          </table>
        </form>
      </div>
      <a href="/" class="btn btn-small btn-info" id="tutorial_skipme" style="display:none;">Skip <i class="icon-white icon-chevron-right"></i></a>
    </p>
  </div>

<style>
  html {
    height: 100%;
    background: url({{ STATIC_URL }}images/grey.png) repeat;
  }

  #top_container {
    width:500px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -250px;
  }

  .uncatmemes{
    display: block;
    float: left;
    padding:5px;
    margin: 5px;
    border:0 0 1px solid #ACACA5;
    box-shadow:0 0 10px #ACACA5;
    background-color:white;
    /*width: 420px;*/
    /*margin: 5px;*/
  }

  .uncatmemes img{
    display: block;
    width: 200px;

  }

  #album_list{
    width: 1000px;
    right: 200px;
  }

  #tutorial_invite_container{
    margin-left:118px;
  }

</style>

{{ standard_js }}
{% endblock %}

