{% extends 'base.html' %}

{% block content %}

<body>

{{ standard_js }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<!--<script src="http://code.jquery.com/jquery-1.8.2.js"></script>-->
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script>
$(function() {
      $( "#autocomplete-input" ).autocomplete({
        source: function( request, response ) {
        var url = "https://graph.facebook.com/me/friends?access_token={{ access_token }}&callback=?";
        $.ajax({
          url: url,
          dataType: "jsonp",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            res = $.map( data.data, function( item ) {
              if (item.name.toLowerCase().indexOf(request.term.toLowerCase()) >= 0){
                return {
                  label: item.name,
                  value: item.id
                }
              }
            });
            response(res);
          }
        });
      },
      minLength: 0,
      select: function( event, ui ) {
        // log( ui.item ?
        //   "Selected: " + ui.item.label :
        //   "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
      });
    $("#autocomplete-input").data("autocomplete")._renderItem =  function( ul, item ) {
        console.log(item);
        var image_url = "http://graph.facebook.com/" + item.value +"/picture";
        return $( "<li>" )
          .append($("<img style='float:left'>").attr('src',image_url))
          .append( $( "<a>" ).text( item.label ) )
          .appendTo( ul );
    }
    });
</script>



  {# added for YC demo 'For our demo, this first-time user tutorial' #}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.extra_tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <div id="top_container">

            {# test #}
            <input id="autocomplete-input" />

    <span id="logo_tutorial"><img src="{{ STATIC_URL }}images/intro_logo.gif"/></span>
    <p id="top_instruction" class="lead">Welcome! {% if school %}I see you're from {{ school }}.{% endif %}</p>
  
    <p id="lower_instruction" class="text-info" style="padding-top:10px;">Memeja is a new way to share experiences</p>
    <div id="second_lower_instruction" class="text-info" style="display:none; margin-top:-10px;">Only friends <strong>you</strong> invite can see inside</div>
  
    <a href="javascript:;" id="start_me" class="btn btn-success">Let's start</a>
  
    <div id="friend_div" style="display:none;">
      <form action="{% url webapp_helloworld_create %}" method="post" id="friend_form" class="form_search">
        {% csrf_token %}
        <div class="input-append">
          {% for field in friend_form %}
            {{ field }}


          {% endfor %}
          <input type="submit" id="createmyfirstalbum" class="btn btn-primary" value="Go!" />
        </div>
      </form>
    </div>
  
    <div id="albums_display" style="display:none; margin-bottom:25px; margin-left:175px;">
      <div id="my_first_album_title" class="experiences_list" style="font-size:18px; padding-bottom:15px;"></div>
      <img src="{{ STATIC_URL }}/images/memeja_logo.png" class="experiences_list" id="{{ first_friend_experience.pk }}" style="height:100px;"/>
    </div>

    <div id="try_dragging" style="display:none; margin-top:25px;">
      <p class="lead">Try drag-n-dropping stories into your album. </p>

      <div>
        <a href="{% url webapp_helloworld_invite %}" id="letsinvite" class="btn btn-success" style="display:none; margin-bottom:5px;">Sweet, I'm done <i class="icon-white icon-forward"></i></a>
      </div>

    </div>
    <div id="show_container">
      <div id="uncategorized">
        <div id="tut_list">
          {% for memes in memes %}
            <div class="tutmemes">
              <a class="fancybox" rel="group" href="{{ MEDIA_URL }}/{{ memes.image }}">
                <img src="{{ MEDIA_URL }}/{{ memes.image }}" id="{{ memes.pk }}"/>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
  </div>


</body>

<style>
  html {
    height: 100%;
    background: url({{ STATIC_URL }}images/grey.png) repeat;
  }

  #top_container {
    width:500px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -250px;
  }

  #show_container {
    opacity: 0;
    width:1000px;
    margin-left:-200px;
  }

  .tutmemes{
    display: block;
    float: left;
    padding:5px;
    margin: 5px;
    border:0 0 1px solid #ACACA5;
    box-shadow:0 0 10px #ACACA5;
    background-color:white;
    /*width: 420px;*/
    /*margin: 5px;*/
  }

  .tutmemes a img{
    display: block;
    width: 200px;

  }

  #album_list{
    width: 1000px;
    right: 200px;
  }
</style>

{% endblock %}

