
{% comment %}
  Base.html template is the base design we build on top of. 
  Only add code here to show on entire site 
{% endcomment %}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpg.css"/>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}Memeja{% endblock %}</title>
    {{ analytics_code }} 
  </head>
    <div id="header_bar">
      {% if user.is_authenticated %}
        {# permanent header at top in base.html #}
          <ul>
            <li><a href="/create"> Create </a></li> 
            <li><a href="/">Profile</a></li>
            <a href="/logout/">Log out</a></li>
          </ul>
      {% else %}
        <a href="/login/">Log in</a> 
      {% endif %}
    </div>

    <div id="intro_logo">
      <a href="/" title="Memeja!"><img src="{{ STATIC_URL }}images/intro_logo.gif"style="width:228px;height:70px;"/></a>
    </div>

   {% block content %}
   {% endblock %}

   <div id="main_content">
      {% block main_content %}{% endblock %} 
   </div>
   
   {% block content-related %}
   {% endblock %}

   {# Old Code #}
		<!--<div id="cta_button">-->
			<!--<div id="cta_login"class="fb-login-button" size="large" scope="-->
					<!--email,-->
					<!--publish_stream-->
					<!--,user_education_history-->
					<!--{*,user_birthday*}	{* Uncomment to enable *}-->
					<!--">-->
					<!--Connect with Facebook-->
			<!--</div>-->
			<!--<div id="cta_message">We will never post without your permission</div>-->
		<!--</div>-->

		<!--<div id="bottom_bar">-->
			<!--<table><tr>-->
			<!--<td><div id="about"><a href="/about.html">About </a></div></td>-->
			<!--<td><div id="blog"><a href="http://blog.memeja.com">Blog </a></div></td>-->
			<!--<td><div id="privacy_policy"><a href="/privacypolicy.html">Privacy  </a></div></td>-->
			<!--</tr></table>-->
		<!--</div>-->
