{% load endless %}

{% paginate memes %}
  {% for memes in memes %}
    <div class="schoolmemes">
      {# another perspective that opens up #}
      {% if memes.meme_horizontal.all %}
		<div id="additional_perspective_container">
			<div id="additional_perspective">
			   {% for perspective in memes.meme_horizontal.all|slice:":2" %}
				<a class="fancybox-feed fancybox.ajax" href="{% url webapp_recreate_map perspective.pk %}">
				<img src="{{ MEDIA_URL }}/{{ perspective.image }}" width='50' id="{{ perspective.pk }}"/>
			  {% endfor %}
				<div>
				  {{ memes.meme_horizontal.count }} more Perspectives
				</div>
			  </a>
			</div>
		</div>
        {# end another perspective #}
      {% endif %}

      {# add rel="group" to link through #}
	 
		  <a class="fancybox-feed fancybox.ajax" href="{% url webapp_recreate_map memes.pk %}">
			<img src="{{ MEDIA_URL }}/{{ memes.image }}" id="{{ memes.pk }}" .style.minWidth='500px' />
		  </a>
	  
      {% if is_uncat %}
        <span id="delete_uncat_meme"><a href="{% url webapp.views.delete_meme memes.pk %}">Delete</a></span>
      {% endif %}
      {% if memes.top_caption %}
        <div><a href="/create/?meme={{ memes.pk }}">Remix</a></div>
      {% endif %}
      {# next plotline in the story #}
      <div>
        {% if memes.meme_vertical %}
          <div id="additional_storyline_container">
				<div id="additional_storyline">
				  <a class="fancybox-feed fancybox.ajax" href="{% url webapp_recreate_map memes.meme_vertical.pk %}">
				  <img src="{{ MEDIA_URL }}/{{ memes.meme_vertical.image }}" width='50' id="{{ memes.meme_vertical.pk }}"/>
				  <div>
					Next Plotline
				  </div>
				</div>
				</a>
          </div>
          {# end another perspective #}
        {% endif %}
      </div>

      


    </div>
    <div style="margin-bottom:30px;"></div>
  {% endfor %}
{% show_more %}
