{% load endless %}

{% paginate memes %}
  {% for memes in memes %}
    <div class="schoolmemes">
      {# add rel="group" to link through #}
      <a class="fancybox" href="{{ MEDIA_URL }}/{{ memes.image }}">
        <img src="{{ MEDIA_URL }}/{{ memes.image }}" id="{{ memes.pk }}"/>
      </a>
      {% if is_uncat %}
        <span id="delete_uncat_meme"><a href="{% url webapp.views.delete_meme memes.pk %}">Delete</a></span>
      {% endif %}
      {% if memes.top_caption %}
        <div><a href="/create/?meme={{ memes.pk }}">Remix</a></div>
      {% endif %}
    </div>
    <div style="margin-bottom:30px;"></div>
  {% endfor %}
{% show_more %}
