{# NLU LANDING PAGE #}
{# This is the first page that the non-logged-in user sees #}
{# Authentication is handled in views.index #}

{% extends 'base.html' %}


{# Funnel NLU to Registration system #}

{% block content %}
  {% if not user.is_authenticated %}
    {# User is not authenticated #}
      {# Show registration page #}

    {% if form.errors %}
      <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    {% endif %}

      
    {# Value Proposition Line #} 
    <div id="headline">Share Experiences With the People You Care About</div>

    <h1>Create an account</h1>

    {# For invited users #}
    {% if invitation_key %}
      <h2>
          <div>{{ invitee_object.from_user }} invited you to share in the experience: "{{ invitee_object.from_user_album }}"</div>
      </h2>
    {% endif %}
    
    <form method="post" action="" class="wide">
    {% csrf_token %}

      <p>
        <label for="id_username">Full Name:</label>
        {% if form.username.errors %}
          <p class="errors">{{ form.username.errors.as_text }}</p>
        {% endif %}
        {{ form.username }}
      </p>

      {# Use prefilled email for registration #}
      {% if not invitee_object.to_user_email %}
        <p>
          <label for="id_email">Email:</label>
          {% if form.email.errors %}
            <p class="errors">{{ form.email.errors.as_text }}</p>
          {% endif %}
          {{ form.email }}
        </p>
      {% else %}
        <label for="id_email">Your email: {{ invitee_object.to_user_email }} </label>
        {% if form.email.errors %}
          <p class="errors">{{ form.email.errors.as_text }}</p>
        {% endif %}
      {% endif %}
      {# end #}

      <p>
        <label for="id_password1">Password:</label>
        {% if form.password1.errors %}
          <p class="errors">{{ form.password1.errors.as_text }}</p>
        {% endif %}
        {{ form.password1 }}
      </p>
      {% comment %}
      <p>
        <label for="id_password2">Password (type again to catch typos):</label>
        {% if form.password2.errors %}
          <p class="errors">{{ form.password2.errors.as_text }}</p>
        {% endif %}
        {{ form.password2 }}
      </p>
      {% endcomment %}
      <p class="submit"><input type="submit" value="Register &rarr;"></p>
    </form>



    <div>
      {% include 'registration/login_landing.html' %}
    </div>

    {% comment %}
    <h1>Log in</h1>

      {% if form.errors %}
      <p class="error">Please correct the errors below:</p>
      {% endif %}

      <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
      <dl>
        {# Change to Email Later #}
        {# Also add Closed Alpha email regex #}
      <dt><label for="id_username">Full Name:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.username }}</dd>
      <dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.password }}</dd>
      <dt><input type="submit" value="Log in" /></dt>
      </dl>
      </form>
    {% endcomment %}
    
    {# Video for NLU to watch #}
      <div id="video_container">
        <div id="video">
          <iframe src="http://player.vimeo.com/video/47618336?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
  {% endif %}
{% endblock %}
