{# Logged in User PROFILE PAGE #}
{# Default profile and album page that logged-in user sees #}
{# Authentication handled in views.index #}

{% extends 'base.html' %}

{# displays new/uncategorized memes to profile for categorization#}
{% block content %}
  

  <h1><div>Albums:</div></h1>
  <div><a href="javascript:void(0);">Add Experience</a></div>

  {# Temporary placeholder until JS implemented #}
  <div>
    <form action="{% url add_experience %}" method="post">
      {% csrf_token %}
        {{ addexperienceform.title }}
      <input type="submit" value="Submit" />
    </form>
  </div>
  {# end #}

  {# Displays existing experiences #}
    {% if experiences %}
      {% for experiences in experiences %}
        <ul>
          <li><a href="{% url webapp.views.show_experience experiences.pk %}" class="experiences_list"> {{ experiences.title }} </a>
            ({{ experiences.meme_set.count }} memes)
          </li>
        </ul>
      {% endfor %}
    {% else %}
      No experience albums
    {% endif %}

 <div>-----------------</div> 

  <h1><div>Uncategorized Memes: (Drag into an album)</div></h1>
  {% if memes %}
    {% for memes in memes %}
      <ul>
        <span id="uncategorized">
          <img src="{{ MEDIA_URL }}/{{ memes.image }}" class="uncatmemes" style="float:left;"/>
        </span>
      </ul>
    {% endfor %}
  {% endif %}

  {# External CSS #}
  <style>
    .over {
      border: 2px dashed #000;
    }
  </style>

  {# Move to external file #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/mainjs.js"></script>

{% endblock %}
