{# Logged in User PROFILE PAGE #}
{# Default profile and album page that logged-in user sees #}
{# Authentication handled in views.index #}

{% extends 'base.html' %}

{# displays new/uncategorized memes to profile for categorization#}
{% block content %}
  

  <h1><div>Albums:</div></h1>
  <div><a href="javascript:void(0);">Add Experience</a></div>

  {# Temporary placeholder until JS implemented #}
  <div>
    <form action="{% url add_experience %}" method="post">
      {% csrf_token %}
        {{ addexperienceform.title }}
      <input type="submit" value="Submit" />
    </form>
  </div>
  {# end #}

  {# Displays existing experiences #}
    {% if experiences %}
      {% for experiences in experiences %}
        <ul>
          <li><a href="{% url webapp.views.show_experience experiences.pk %}" class="experiences_list"> {{ experiences.title }} </a>
            ({{ experiences.meme_set.count }} memes)
          </li>
        </ul>
      {% endfor %}
    {% else %}
      No experience albums
    {% endif %}

 <div>-----------------</div> 

  <h1><div>Uncategorized Memes: (Drag into an album)</div></h1>
  {% if memes %}
    {% for memes in memes %}
      <ul>
        <span id="uncategorized">
          <img src="{{ MEDIA_URL }}/{{ memes.image }}" class="uncatmemes" style="float:left;"/>
        </span>
      </ul>
    {% endfor %}
  {% endif %}

  {# External CSS #}
  <style>
    .over {
      border: 2px dashed #000;
    }
  </style>

  {# Move to external file #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>
  {# JS utils #}
  var addEvent = (function () {
    if (document.addEventListener) {
      return function (el, type, fn) {
        if (el && el.nodeName || el === window) {
          el.addEventListener(type, fn, false);
        } else if (el && el.length) {
          for (var i = 0; i < el.length; i++) {
            addEvent(el[i], type, fn);
          }
        }
      };
    } else {
      return function (el, type, fn) {
        if (el && el.nodeName || el === window) {
          el.attachEvent('on' + type, function () { return fn.call(el, window.event); });
        } else if (el && el.length) {
          for (var i = 0; i < el.length; i++) {
            addEvent(el[i], type, fn);
          }
        }
      };
    }
  })();
  {# end #}

  function handleDragStart(e){
    this.style.opacity = '0.4';
    this.classList.add('over');

    {# set source object #}
    DRAGSOURCE = this;

    e.dataTransfer.effectAllowed = 'copy'; 
    e.dataTransfer.setData('Text', this.innerHTML);
  }

  var cols = document.querySelectorAll('#uncategorized .uncatmemes');
  [].forEach.call(cols, function(col) {
    col.addEventListener('dragstart', handleDragStart, false);
  });

  var bin = document.querySelectorAll('.experiences_list');

  {# when image dragged over album #}
  addEvent(bin, 'dragover', function(e){
    if (e.preventDefault)
      e.preventDefault();

    e.dataTransfer.dropEffect = 'copy';
    return false;
  });

  {# when image dropped into album #}
  addEvent(bin, 'drop', function(e) {
    if (e.stopPropagation)
      e.stopPropagation();

    {# link specific meme to disappear #}
    $(DRAGSOURCE).remove(); 
    
    {# AJAX call to add meme into album - server side #}
    {% comment %}
      post = 'image name'
      $.post(' some url ', post
        then view changes things in database.
    {% endcomment %}
    
  });
  </script>

{% endblock %}
