{# Logged in User PROFILE PAGE #}
{# Default profile and album page that logged-in user sees #}
{# Authentication handled in views.index #}

{% extends 'base.html' %}

{# displays new/uncategorized memes to profile for categorization#}
{% block content %}

 Create new album
  <div>
    <form action="{% url add_experience %}" method="post">
      {% csrf_token %}
        {{ addexperienceform.title }}
      <input type="submit" value="Submit" />
    </form>
  </div>

 Upload new meme
    <form action="{% url create %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ imageform.non_field_errors }}</p>
      <p>{{ imageform.docfile.label_tag }} {{ imageform.docfile.help_text }}</p>
      <p>
        {{ imageform.image.errors }}
        {{ imageform.image }}
      </p>
      <p><input type="submit" value="Upload" /></p>
    </form>

 <div>-----------------</div> 

  <h1><div>Albums:</div></h1>

  {# Insert flash message when inviting friend #}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  {# FOR YC APPLICATION -- message #}
  {% if yc %}
    <div>Hey YC, thanks for checking out our demo!</div>
  {% endif %}


  {# Displays existing experiences #}
    {% if experiences %}
      {% for experiences in experiences %}
          <div>
            <a href="{% url webapp.views.show_experience experiences.pk %}" class="experiences_list" id="{{ experiences.pk }}" style="font-size:20px;"> {{ experiences.title }} </a>
              ({{ experiences.meme_set.count }} memes)
              <a href="{% url webapp.views.delete_album experiences.pk %}">Delete</a>
              <div>
                with
                {% for creator in experiences.creator.all %}
                    {% if not forloop.first %},{% endif %}
                    <a href="/{{ creator.get_profile.url_username }}/">{{ creator.username }}</a> 
                {% endfor %}
              </div>
                <a href="{% url webapp.views.show_experience experiences.pk %}">
                  {% if experiences.album_pic %}
                    <img src="{{ MEDIA_URL }}/{{ experiences.album_pic.image }}" class="experiences_list" id="{{ experiences.pk }}" style="height:125px;width:125px;"/>
                  {% else %}
                      <img src="{{ STATIC_URL }}/images/memeja_logo.png" class="experiences_list" id="{{ experiences.pk }}" style="height:125px;width:125px;"/>
                  {% endif %}
                </a>
              {# Temporary #}
              <br><br>
              {# end #}
          </div>
      {% endfor %}
    {% else %}
      No experience albums
    {% endif %}

 <div>-----------------</div> 

  <h1><div>Uncategorized Memes: (Drag into an album)</div></h1>
  {% if memes %}
    <div id="uncategorized">
        {% for memes in memes %}
          <div class="uncatmemes">
            <img src="{{ MEDIA_URL }}/{{ memes.image }}" id="{{ memes.pk }}"/>
            <span><a href="{% url webapp.views.delete_meme memes.pk %}">X</a></span>
            {% if memes.top_caption %}
              <div><a href="/create/?meme={{ memes.pk }}">Remix</a></div>
            {% endif %}
          </div>
        {% endfor %}
    </div>

  {% endif %}

  {# External CSS to be moved #}
  <style>
    .over {
      border: 2px dashed #000;
    }
  </style>

  {# Load Javascript files #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/mainjs.js"></script>

  {# Masonry for Pinterest Design #}
  <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
{% endblock %}
